
#hamnav {
  width: 100%;
  background: #000;
}


#hamitems { display: flex; }
#hamitems a {
  flex-grow: 1;
  flex-basis: 0;
  padding: 10px;
  color: white;
  text-decoration: none;
  text-align: center;
}
#hamitems a:hover { background: #401408; }


#hamnav label, #hamburger { display: none; }


@media screen and (max-width: 768px){
 
  #hamitems a {
    box-sizing: border-box;
    display: block;
    width: 100%;
    border-top: 1px solid #333;
  }
  
  #hamnav label { 
    display: inline-block; 
    color: white;
    background: #a02620;
    font-style: normal;
    font-size: 1.2em;
    padding: 10px;
  }

  
  #hamitems { display: none; }
  #hamnav input:checked ~ #hamitems { display: block; }
}
body {
  background-color: rgb(175, 182, 155);
font-size: 22px;
}
header {
  font-size: 35px;
}
@media screen and (max-width: 600px) {
  .p {
    flex: 100%;
    max-width: 100%;
  }
}
@media screen and (max-width: 800px) {
  .p {
    flex: 50%;
    max-width: 50%;
  }
}

@media screen and (max-width:600) {

  
}.column {
  float: left;
  width: 50%;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

@media only screen and (max-width: 768px) {
  .column {
    display: grid;
    grid-template-columns: 1fr;
    padding: 1em;
    grid-row-gap: 100px;
  }
}